body 
{
    background-image: url('earth.jpg'); /* Set the background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    
}

#center
{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#title 
{
    font-size: 25px;
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

#loginDiv
{
    font-size: 5px;
    margin-top: 5%;
    width: 100%;
    padding: 5px;
    background-color: #000000;
}

#loggedInDiv
{
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    margin: 0 auto;
    font-size: 15px;
    width: 25%;
    padding-top: 15px;
    padding-left: 22.5px;
    padding-right: 22.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #ffffff;
    
}

#accessUIDiv
{
    font-size: 25px;
    margin: 0 auto;
    width: 25%;
    padding-left: 22.5px;
    padding-right: 22.5px;
    padding-bottom: 15px;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: #ffffff;
}

.buttons
{
    font-size: 15px;
    border-radius: 5px;
    padding: 9px;
    width: 100%;
    font-family: Arial, sans-serif;
    color: white; /* Text color */
    background-color: #007acc; /* Button background color */
    border: none;
}

.buttons:hover{
    background-color: #00578e; /* Hover color */
    color: #ffffff;
    opacity: 50%;
}

#loginName
{
	font-size: 25px;
}
#loginPassword
{
	font-size: 25px;
}
#searchText
{
    color: #ffffff;
	font-size: 25px;
}
#colorText
{
	font-size: 25px;
}

input[type="text"],input[type="password"]{
        width: 100%;
        display: flex;
        margin-bottom: 2.5%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #ffffff; /* Input field background color */
        color: rgb(0, 0, 0); /* Text color */
}

#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: Arial, sans-serif;
    color: #95060a;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: Arial, sans-serif;
    color: #95060a;
}

#userName{
    font-size: 15px;
    display: inline-block;
    width: 50%;
    margin-left: 90;
    text-align: center;
}

#logoutButton{
    width: 100%;
    
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: Arial, sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 25px;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: Arial, sans-serif;
    color: #95060a;
}
table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border: thick #ffffff;
    color: white;
  }
